body {
  background-color: #4F6D7A;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  box-sizing: border-box;
  background-color: #E8DAB2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.26);
}

.app {
  text-align: center
}

#currentSchool {
  font-weight: bolder;
  font-size: smaller;
  padding-bottom: 2px;
  margin: 0;
}

.address {
  padding: 1px;
  margin: 0;
}

a {
  color: #990b0e;
  text-decoration: none;
}

#schoolUrl {
  font-style: italic;
}

a:hover {
  color: #ed2a2d;
}

.headerbtn {
  background-color: Transparent;
  font-weight: 500;
  font-size: 17px;
  color: #4F6D7A;
  text-decoration: none;
  border: none;
  padding: 15px;
  margin: 0;
  display: inline-block;
  cursor: pointer;
}

.headerbtn:hover {
  color: #C6181C;
}

.logo {
  padding: 1px;
  padding-top: 3px;
  padding-left: 12px;
  display: block;
  max-width: 200%;
  max-height: 4.5rem;
}

.dropbtn {
  background-color: Transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.menuIcon {
  padding: 12px;
  max-height: 28px;
  width: 28px;
  z-index: 4;

}

.dropdown {
  display: inline-block;
}

.menu {
  left: -42%;
  position: relative;
}

.dropdown-content {
  left: 0;
  display: none;
  position: absolute;
  background-color: #C0D6DF;
  color: #4F6D7A;
  text-align: left;
  padding: 12px 16px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  text-decoration: none;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.28);
  z-index: 5;
}

#about {
  right: 0;
  left: 30%;
  text-align: right;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #C0D6DF;
}

@media print {
  .dropdown-content {
    display: none;
  }
}

.centeringContainer {
  align-items: center;
}

.chartSlide {
  width: 95%;
  max-width: 600px;
  margin: auto;
  margin-top: 24px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: #EAEAEA;
  color: #2e3f46;
}

.container {
  padding: 4px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#pie {
    height: 440px;
}
